<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SIBM - Error</title>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/error.css">
</head>

<body>
    <div class="container">
        <h2 class="text-center">You killed Should I Be Mad! You bastard!</h2>
        <div class="text-center">{{!error}}</div>
        <br />
        <br />
        <img src="static/error-dog.jpg" class="center"/>
    </div>
</body>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="static/bootstrap.js"></script>

</html>