<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Should I Be Mad</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
    <!-- Custom styles for index -->
    <link href="static/index.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2 class="text-center">Should I Be Mad?</h2>
        {{!post_data}}
        <br />
        <form action="/make_post" method="get">
            <button class="btn btn-primary" type="submit">Make Post</button>
        </form>
    </div>
</body>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="static/bootstrap.js"></script>

</html>