<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SIBM - New Post</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
     <!-- Custom styles for make_post -->
    <link href="static/login.css" rel="stylesheet">
    <link href="static/make_post.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">Should I Be Mad?</h2>
            <form action="/make_post" method="post" id="post_form" class="form-signin">
                <textarea class="form-control" name="post_content" placeholder="What are you mad about?" rows="10"></textarea>
                <br />
                <button class="btn btn-primary form-control" type="submit">Post!</button>
            </form>
            {{!status}}
        </div>
    </div>
</body>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="static/bootstrap.js"></script>

</html>